<body>
<div class="card">
  <div class="usageMeter">
    <h2>
      <span class="counter" data-target="getIndicatorForm().cpuUsage">{{getIndicatorForm().cpuUsage}}</span>
      <sup>%</sup> <br>
      <fa-icon [icon]="faMemory" [ngClass]="getIconClass(getCPU())"></fa-icon>
    </h2>
    <div *ngFor="let block of blocks; let i = index" [ngClass]="{'highlight': i <= getCPU()}"
         [style.animation-delay]="i / 40 + 's'"
         [style.transform]="'rotate(' + block + 'deg)'" class="block"></div>
  </div>
</div>

<div class="card">
  <div class="usageMeter">
    <h2><span class="counter" data-target="getIndicatorForm().cpuUsage">{{getIndicatorForm().ramUsage}}</span>
      <sup>%</sup> <br>
      <fa-icon [icon]="faMemory" [ngClass]="getIconClass(getRam())">
      </fa-icon>
    </h2>
    <div *ngFor="let block of blocks; let i = index" [ngClass]="{'highlight': i <= getRam()}"
         [style.animation-delay]="i / 40 + 's'"
         [style.transform]="'rotate(' + block + 'deg)'" class="block"></div>
  </div>
</div>

<div class="card">
  <div class="usageMeter">
    <h2><span class="counter" data-target="getIndicatorForm().cpuUsage">{{getIndicatorForm().memoryUsage}}</span>
      <sup>%</sup> <br>
      <fa-icon [icon]="faMemory" [ngClass]="getIconClass(getMemory())"></fa-icon>
    </h2>
    <div *ngFor="let block of blocks; let i = index" [ngClass]="{'highlight': i <= getMemory()}"
         [style.animation-delay]="i / 40 + 's'"
         [style.transform]="'rotate(' + block + 'deg)'" class="block"></div>
  </div>
</div>

</body>
